@import './keyframes';
@import './common';
@import './home';



#app {
  margin: 0 auto;
  color: #ffde39;
  background-color: #171006;
  background-size: cover;
  background-position: center;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  text-align: center;
  color: #2c3e50;

  .app-frame {
    position: relative;
    display: flex;
    overflow: auto;
    box-sizing: border-box;

    &.middle {
      height: 100%;
    }
  }

  .menu {
    flex: 1;
    min-width: 120px;
    height: 100%;
    box-sizing: border-box;
  }

  .main-router-view {
    flex: 9;
  }
}

.md-card-content {
  position: relative;
}

button {
  cursor: pointer;
  min-width: 60px;
  min-height: 26px;
  font-size: 18px;
}